*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    margin: 0;
}

.logo {
    /* position: fixed;
    height: 100vh; */
}

.icon-home {

}

.button-home {
    position: fixed;
    top: 2rem;
    left: 50%;
    padding: 0 2px;
    transform: translateX(-50%);
    background-color: #FCF6F4;
    border-radius: 50%;
    border: 1px solid #000;
    z-index: 3;
    cursor: pointer;
}

.button-home:hover {
    box-shadow: 
        0px 2px 4px -1px rgba(0, 0, 0, 0.2), 
        0px 2px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.bottom-bar {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}