*,
::before,
::after {
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    margin: 0;
}

h1 {
    font-size: calc(2rem + 1.5vw);
}

.icon-corner {
    position: fixed;
    z-index: 2;
}

.icon-email {
    height: 2rem;
    cursor: pointer;
}

.icon-email:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
}

.avatar {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translateX(-50%);
    animation-name: show;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
}

.flex {
    display: flex;
    justify-content: space-between;
}

.top-left-corner {
    top: 2rem;
    left: 2rem;
    transform: rotate(45deg);
}

.top-right-corner {
    top: 2rem;
    right: 2rem;
    transform: rotate(135deg);
}

.bottom-left-corner {
    bottom: 2rem;
    left: 2rem;
    transform: rotate(-45deg);
}

.bottom-right-corner {
    bottom: 2rem;
    right: 2rem;
    transform: rotate(-135deg);
}

.svg-social {
    width: 2rem;
    margin-bottom: 0.8em;
}

.svg-social:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
}

.discord {
    margin: 0.1rem 0 0.6em;
}

.logo-container {
    position: absolute;
    width: 10%;
    height: 25%;
    cursor: pointer;
    transition: ease 1s;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.dark-half {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
    height: 100%;
    background-color: #000;
    transition: height 0.3s ease, width 1s ease 0.3s;
    z-index: 1;
}

.button-home {
    position: fixed;
    top: 2rem;
    left: 50%;
    padding: 0 2px;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    background-color: #dcdcdc;
    z-index: 3;
}

.button-home:hover {
    box-shadow:
        0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 2px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.socials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
    z-index: 3;
}

.bottom-bar {
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    z-index: 3;
}

.aboutHeader-7-2-14 {
    text-decoration: none;
}

.corners-left,
.corner-right {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    z-index: 1;
    transition: height 0.3s ease, width 1s ease 0.3s;
}

.corners-left:before,
.corner-right:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    /* height: calc(100% + 4px);
    width: calc(100% + 4px); */
    transition: height 0.3s ease, width 1s ease 0.3s;
}

.corners-left:before {
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
}

.corner-right:before {
    border-bottom-right-radius: 10%;
    border-top-right-radius: 10%;
}

.intro-container {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 50vh;
    z-index: 1;
}

.intro-sub-container {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
}

.intro-text {
    padding: 2rem;
    height: 65%;
    flex-direction: column;
    cursor: pointer;
    animation-name: show;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

.intro-text-name {
    font-size: calc(1rem + 1.5vw);
}

.intro-text-desc {
    font-size: calc(0.6rem + 1vw);
}

.skills-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.skills-content {
    padding: 2rem;
    width: 30vw;
    height: 60vh;
    flex-direction: column;
    z-index: 3;
    line-height: 1.5;
}

.skills-content-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(1rem + 1vw);
}

.skills-content-desc {
    font-size: calc(0.6em + 1vw);
    padding: 0.5em 0;
}